/* app css stylesheet */
body {
  padding-top: 40px;
}
.message-card {
  border: 1px solid #cccccc;
  background: #f8f8f8;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.message-text {
  padding: 5px 0;
  font-size: 14px
}
.profile-img {
  height: 120px;
  background: white;
}
